.auto-style19 {
    height: 37px;
}

.lbls {
    text-align: right;
}

.lbl {
    text-align: center;
}

.auto-style25 {
    width: 698px;
}

.auto-style28 {
    width: 890px;
}

.auto-style29 {
    width: 219px;
}

.auto-style30 {
    text-align: right;
    width: 219px;
}

.auto-style31 {
    margin-left: 493px;
}

.auto-style32 {
    width: 721px;
}